<section ng-controller="StemController as stemCtrl">
<div class="containall row margleft15">
<ul ng-repeat="stemProject in stemCtrl.project" class="col-xs-12 col-md-12 col-lg-3 w320">
<li class="projecthead">{{stemProject.projectName}}</li>
<li><img src='{{stemProject.images[0]}}' style="width:320px;height:250px;" onerror="this.onerror=null;this.src='images/default.jpg';"/></li>
</ul>
</div>
</section>

<section ng-controller="StemController as stemCtrl">
<div class="containall row margleft15">
<ul ng-repeat="stemProject2 in stemCtrl.project2" class="col-xs-12 col-md-12 col-lg-3 w320">
<li class="projecthead">{{stemProject2.projectName}}</li>
<li><img src='{{stemProject2.images[0]}}' style="width:320px;height:250px;" onerror="this.onerror=null;this.src='images/default.jpg';"/></li>
</ul>
</div>
</section>

<section ng-controller="StemController as stemCtrl">
<div class="containall row margleft15">
<ul ng-repeat="stemProject3 in stemCtrl.project3" class="col-xs-12 col-md-12 col-lg-3 w320">
<li class="projecthead">{{stemProject3.projectName}}</li>
<li><img src='{{stemProject3.images[0]}}' style="width:320px;height:250px;" onerror="this.onerror=null;this.src='images/default.jpg';"/></li>
</ul>
</div>
</section>

<section ng-controller="StemController as stemCtrl">
<div class="containall row margleft15">
<ul ng-repeat="stemProject4 in stemCtrl.project4" class="col-xs-12 col-md-12 col-lg-3 w320">
<li class="projecthead">{{stemProject4.projectName}}</li>
<li><img src='{{stemProject4.images[0]}}' style="width:320px;height:250px;" onerror="this.onerror=null;this.src='images/default.jpg';"/></li>
</ul>
</div>
</section>

<section ng-controller="StemController as stemCtrl">
<div class="containall row margleft15">
<ul ng-repeat="stemProject5 in stemCtrl.project5" class="col-xs-12 col-md-12 col-lg-3 w320">
<li class="projecthead">{{stemProject5.projectName}}</li>
<li><img src='{{stemProject5.images[0]}}' style="width:320px;height:250px;" onerror="this.onerror=null;this.src='images/default.jpg';"/></li>
</ul>
</div>
</section>

<section ng-controller="StemController as stemCtrl">
<div class="containall row margleft15">
<ul ng-repeat="stemProject6 in stemCtrl.project6" class="col-xs-12 col-md-12 col-lg-3 w320">
<li class="projecthead">{{stemProject6.projectName}}</li>
<li><img src='{{stemProject6.images[0]}}' style="width:320px;height:250px;" onerror="this.onerror=null;this.src='images/default.jpg';"/></li>
</ul>
</div>
</section>

<section ng-controller="StemController as stemCtrl">
<div class="containall row margleft15">
<ul ng-repeat="stemProject7 in stemCtrl.project7" class="col-xs-12 col-md-12 col-lg-3 w320">
<li class="projecthead">{{stemProject7.projectName}}</li>
<li><img src='{{stemProject7.images[0]}}' style="width:320px;height:250px;" onerror="this.onerror=null;this.src='images/default.jpg';"/></li>
</ul>
</div>
</section>