<form>
	Project Name: <input ng-model="project.projectName"><br />
	Project Description: <input ng-model="project.projectDesc.para1"><br />
	Image File: <input ng-model="project.images"><br />
	Project Leader: <input ng-model="project.projectLeader"><br />
	Faculty Member: <input ng-model="project.projectFac"><br />
	Project Member: <input ng-model="project.projectMembers.member1"><br />
	Project Meeting Time: <input ng-model="project.projectMeeting"><br />
	Project Blog: <input ng-model="project.projectBlog"><br />
	<button ng-click="save()" class="btn btn-primary">Save</button>
	
</form>	