


<div id="projectLocation">
<section ng-controller="AddController">
<div class="containall row margleft15">
<ul ng-repeat="stemProject in project" class="col-xs-12 col-md-12 col-lg-3 w320">
<a href="#"><li class="projecthead" ng-click="doIt($index)"ng-click="doIt($index)">{{stemProject.projectName}}</li></a>
<li><img src='{{stemProject.images[0]}}' style="width:420px;height:350px;" onerror="this.onerror=null;this.src='images/default.jpg';"/></li>
</ul>
</div>
</section>

<section ng-controller="AddController">
<div class="containall row margleft15">
<ul ng-repeat="stemProject2 in stemCtrl.project2" class="col-xs-12 col-md-12 col-lg-3 w320">
<a href="#" ><li class="projecthead" ng-click="doIt2($index)">{{stemProject2.projectName}}</li></a>
<li><img src='{{stemProject2.images[0]}}' style="width:420px;height:350px;" onerror="this.onerror=null;this.src='images/default.jpg';"/></li>
</ul>
</div>
</section>

<section ng-controller="AddController">
<div class="containall row margleft15">
<ul ng-repeat="stemProject3 in project3" class="col-xs-12 col-md-12 col-lg-3 w320">
<a href="#" ><li class="projecthead" ng-click="doIt3($index)">{{stemProject3.projectName}}</li>
<li><img src='{{stemProject3.images[0]}}' style="width:420px;height:350px;" onerror="this.onerror=null;this.src='images/default.jpg';"/></li>
</ul>
</div>
</section>

<section ng-controller="AddController">
<div class="containall row margleft15">
<ul ng-repeat="stemProject4 in project4" class="col-xs-12 col-md-12 col-lg-3 w320">
<a href="#"><li class="projecthead" ng-click="doIt4($index)">{{stemProject4.projectName}}</li></a>
<li><img src='{{stemProject4.images[0]}}' style="width:420px;height:350px;" onerror="this.onerror=null;this.src='images/default.jpg';"/></li>
</ul>
</div>
</section>

<section ng-controller="AddController">
<div class="containall row margleft15">
<ul ng-repeat="stemProject5 in project5" class="col-xs-12 col-md-12 col-lg-3 w320">
<a href="#" ><li class="projecthead" ng-click="doIt5($index)">{{stemProject5.projectName}}</li></a>
<li><img src='{{stemProject5.images[0]}}' style="width:420px;height:350px;" onerror="this.onerror=null;this.src='images/default.jpg';"/></li>
</ul>
</div>
</section>

<section ng-controller="AddController">
<div class="containall row margleft15">
<ul ng-repeat="stemProject6 in project6" class="col-xs-12 col-md-12 col-lg-3 w320">
<a href=""><li class="projecthead" ng-click="doIt6($index)">{{stemProject6.projectName}}</li></a>
<li><img src='{{stemProject6.images[0]}}' style="width:420px;height:350px;" onerror="this.onerror=null;this.src='images/default.jpg';"/></li>
</ul>
</div>
</section>

<section ng-controller="AddController">
<div class="containall row margleft15">
<ul ng-repeat="stemProject7 in project7" class="col-xs-12 col-md-12 col-lg-3 w320">
<a href="#"><li class="projecthead"  ng-click="doIt7($index)">{{stemProject7.projectName}}</li></a>
<li><img src='{{stemProject7.images[0]}}' style="width:420px;height:350px;" onerror="this.onerror=null;this.src='images/default.jpg';"/></li>
</ul>
</div>
</section>
</div>