<section ng-controller="StemController as stemCtrl">
<div class="containall row margleft15">
<ul ng-repeat="stemProject5 in stemCtrl.project5" class="col-xs-12 col-md-12 col-lg-3 w320">
<li class="projecthead">{{stemProject5.projectName}}</li>
<li><img src='{{stemProject5.images[0]}}' style="width:320px;height:250px;" onerror="this.onerror=null;this.src='images/default.jpg';"/></li>
<h3>Description</h3>
<li><p>{{stemProject5.projectDesc[0].para1}}</p></li>
<li><p>{{stemProject5.projectDesc[0].para2}}</p></li>
<li><p>{{stemProject5.projectDesc[0].para3}}</p></li>
<h3>Team Leader</h3>
<li><p>{{stemProject5.projectLeader}}</p></li>
<h3>Faculty</h3>
<li><p>{{stemProject5.projectFac}}</p></li>
<h3>Team Members</h3>
{{stemProject5.projectMembers[0].member1}},
{{stemProject5.projectMembers[0].member2}},
{{stemProject5.projectMembers[0].member3}},
{{stemProject5.projectMembers[0].member4}},
{{stemProject5.projectMembers[0].member5}},
{{stemProject5.projectMembers[0].member6}},
{{stemProject5.projectMembers[0].member7}},
{{stemProject5.projectMembers[0].member8}},
{{stemProject5.projectMembers[0].member9}},
{{stemProject5.projectMembers[0].member10}}
<h3>Meetings</h3>
<li><p>{{stemProject5.projectMeeting}}</p></li>
<h3>Project Blog</h3>
<li><p>{{stemProject5.projectBlog}}</p></li>



</ul>
</div>
</section>