

@charset 'UTF-8';
@import url(extra.css);
@import url(wrapper.css);
@import url(bergennav.css);		
@import url(calendar.css);			
@import url(project.css);
@import url(bergenfoot.css);



/*********************************************************************************/
/* Articles                                                                      */
/*********************************************************************************/

#top
{
}

#top .me
{
background-color: #dbecfe;
border-radius: 50%;
overflow: hidden;
}

#top p
{
}

#top p a
{
color: inherit;
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

#copyright
{
color: #666;
}

#copyright a
{
color: inherit;

-moz-transition: color .2s ease-in-out;
-webkit-transition: color .2s ease-in-out;
-o-transition: color .2s ease-in-out;
-ms-transition: color .2s ease-in-out;
transition: color .2s ease-in-out;
}

#copyright a:hover
{
color: #777;
}



.copy-right {
margin-bottom: 1em;
}
.copy-right p {
font-size: 0.8em;
}
.event-text input[type="text"], .event-text input[type="date"], .event-text textarea {
width: 92%;
font-size: 0.8em;
}
.event-text input[type="submit"] {
width: 46%;
padding: .5em 0;
font-size: 0.8em;
}


placeholder{
color:#fff;
}

.borders{

padding:0 0;
}

.learn
{
width:450px;
margin-left:0;
}
.topHead
{
padding:0 0;

}
.topHead>p
{
background-color:#6600cc;
color:#fff;
width:60ps;
margin-right:15px;
margin-left:0;
font-size:22px;
border-height:30px;
padding:16px 16px;
margin-bottom:10px;
}
.topHead1{
background-color:#6600cc;

}
.topHead1>h1{
color:#fff;
margin-left: 35px;;
}
.learn2{

margin-left:0;
}
.topHead>p.rmargin
{
margin-right:28px;
}

.leftright
{
margin-left:15px;
margin-right:15px;
}
.glyphblack{
color:#fff;
}
.smallimg{
width:50px;
height:50px;
}

.liblock{
display:inline;
}

.col-lg-4 {
width: 320px;
}



.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9
{
padding-left:0;
padding-right:0;
margin-right: 10px;
margin-bottom:20px;
}
.w320{
width:420px;
margin-right:50px;
}

.margleft15{
margin-left: 15px;
}
.container-fluid{
padding-right:3px;
}
.logo1{
background-color:#fff;
height:100px;
}

.trans{
background-color: transparent;
}
.logo1 img{
position:absolute;
top:15px;
left: 35px;
}

.colorpick
{
background:#eeb211;
}

.colorpick1
{
background:#eee;
}
.wide{
width:230px;
}
.fullwidth{
width:100%;
position: relative;
top:-10px;
border-top:solid black 2px;

}

.imgsec{
position: relative;
top:-30px;
width:100%;
height:615px;
border:solid black 2px;
background-color:black;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {

height: 600px;
width: 1500px;
margin: 0 auto;
}

.carousel-control.left {
background-image: none; 
}
.carousel-control.right {
background-image: none;  
}


.whitebar{
margin-top:15px;
height: 35px;
background-color:#fff;

}
.iconwhite
{
color: -moz-linear-gradient(top,  #200696 0%, #190475 50%, #0d0466 51%, #200696 100%); /* FF3.6-15 */
color: -webkit-linear-gradient(top,  #200696 0%,#190475 50%,#0d0466 51%,#200696 100%); /* Chrome10-25,Safari5.1-6 */
color: linear-gradient(to bottom,  #200696 0%,#190475 50%,#0d0466 51%,#200696 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#200696', endColorstr='#200696',GradientType=0 ); /* IE6-9 */
}


.title
{
border-bottom: 1px dotted #eeb211;
padding-bottom: 5px;
color: #ffffff;
font-size: 1em;
letter-spacing: 0.05em;
line-height: 1.15;
margin: 0 0 0.6em;
}
ul.menu
{
border: medium none;
list-style: outside none none;
text-align: left;
}

.leftwidth
{
float:left;
width: 22.22%;
}
.clearfix::after {
clear: both;
content: ".";
display: block;
height: 0;
visibility: hidden;
}


#street-address-info {
float: right;
padding: 0 15px;
width: 33.33%;
}


.boxed{
	
	margin-right: 25px;
	position: relative; 
  
  display: inline-block; 
}

.collegewrapper{
	width:600px;
	margin:0 auto;
}
.marLeft115
{
	
margin-left: -115px;
}

.facImg img
{
	border:1px black solid;
	border-radius:10px 10px;
	box-shadow: 10px 10px 7px #888; 
}