/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

.wrapper
{
width:100%;
margin:0 auto;
/* box-shadow: inset 0px 1px 0px 0px rgba(0,0,0,0.05), inset 0px 2px 3px 0px rgba(0,0,0,0.1); */
}

.wrapper-first
{
box-shadow: none;
}

.wrapper-style1
{
background-image: none;
background-color: #fff;
}

.wrapper-style2
{
background-color: #fafafa;
text-shadow: 1px 1px 0px #fff;
}

.wrapper-style3
{
background-color: #dbecfe;
text-shadow: 1px 1px 0px #fff;
}

.wrapper-style4
{
background-color: #303030;
color: #999;
text-shadow: -1px -1px 0px #181818;
}

.wrapper-style4 h1, 
.wrapper-style4 h2, 
.wrapper-style4 h3, 
.wrapper-style4 h4, 
.wrapper-style4 h5, 
.wrapper-style4 h6
{
color: #fff;
}